@inherits LayoutComponentBase
@implements IDisposable
@inject LoginState loginState;


<div class="sidebar">
    @if (loginState.IsLoggedIn)
    {
        <NavMenu />
    }
</div>
<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
}

@code {
    protected override void OnInitialized()
    {
        loginState.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        loginState.OnChange -= StateHasChanged;
    }
}