@page "/manage/labels/create"
@using CRM_Model_Library
@using CRM_Blazor_Server.ViewModels
@inject ILabelData _db
@inject NavigationManager NavigationManager
<h3>Create Label</h3>
<EditForm Model="@newlabel" OnSubmit="@InsertLabel">
    <div class="form-group">
        <lable>Name:</lable>
    </div>
    <div>
        <InputText class="form-control" @bind-Value="newlabel.LabelName"></InputText>
    </div>
    <div>
        <button class="btn btn-success" type="submit">Create label</button>
        <a href="manage/labels" class="btn btn-primary" type="Continue">Back</a>
    </div>
</EditForm>
@code {
    private DisplayLabelModel newlabel = new DisplayLabelModel();

    private async Task InsertLabel()
    {

        LabelModel Label = new LabelModel
        {
            LabelName = newlabel.LabelName
        };
        await _db.InsertLabel(Label);
        newlabel = new DisplayLabelModel();
        NavigationManager.NavigateTo("manage/labels", forceLoad: true);
    }
}
