@page "/manage/Labels/create"

@using CRM_Model_Library
@using CRM_Blazor_Server.ViewModels

<h3>Create Label</h3>
<EditForm Model="Label" OnSubmit="Create">
    <div class="form-group">
        <lable>Name:</lable>
    </div>
    <div>
        <InputText class="form-control" @bind-Value="@Label.LabelName"></InputText>
    </div>
    <div>
        <a href="manage/Labels" class="btn btn-success" type="submit">Create Label</a>
    </div>
</EditForm>
@code {
    LableModel Label = new LableModel();

    private void Create()
    {

        return;
    }
}
