@page "/manage/contacts/create"
@using CRM_Model_Library
@using CRM_Blazor_Server.ViewModels
@inject IContactData _db
<h3>Create Contact</h3>
<EditForm Model="@newcontact" OnValidSubmit="@InsertContact">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <lable>First name:</lable>
    
    <InputText class="form-control" @bind-Value="newcontact.FirstName"></InputText>
    
    <lable>Last name:</lable>
    
    <InputText class="form-control" @bind-Value="newcontact.LastName"></InputText>
    
    
    <lable>Email address:</lable>
    
    <InputText class="form-control" @bind-Value="newcontact.EmailAddress"></InputText>
    
    <button class="btn btn-success" type="submit">Create Contact</button>
    <a href="manage/contacts" class="btn btn-primary" type="Continue">Back</a>
    
</EditForm>

@code {
    private DisplayContactModel newcontact = new DisplayContactModel();
    
    private async Task InsertContact()
    {

        ContactModel contact = new ContactModel
        {
            FirstName = newcontact.FirstName,
            LastName = newcontact.LastName,
            EmailAddress = newcontact.EmailAddress
        };
        await _db.InsertContact(contact);

        newcontact = new DisplayContactModel();
    }
}
