@page "/manage/lables/create"
<h3>Create Lable</h3>
<EditForm Model="Lable" OnSubmit="Create" >
    <div class="form-group">
        <lable>Name:</lable>
    </div>
    <div>
        <InputText class="form-control" @bind-Value="@Lable.Name"></InputText>
    </div>
    <div>
        <a href="manage/lables" class="btn btn-success" type="submit">Create Lable</a>
    </div>
</EditForm>
@code {
    LableModel Lable = new LableModel();

    private void Create()
    {
        
        return;
    }
}
