@page "/manage/lables/create"
<h3>Create Label</h3>
<EditForm Model="Label" OnSubmit="Create" >
    <div class="form-group">
        <lable>Name:</lable>
    </div>
    <div>
        <InputText class="form-control" @bind-Value="@Label.Name"></InputText>
    </div>
    <div>
        <a href="manage/labels" class="btn btn-success" type="submit">Create label</a>
    </div>
</EditForm>
@code {
    LabelModel Label = new LabelModel();

    private void Create()
    {
        
        return;
    }
}
