@page "/email_design"
<h3>Select your template</h3>

<style>
    .square {
        height: 150px;
        width: 150px;
        background-color: #555;
    }
</style>

<div class="square"></div>
<input type="checkbox" id="" name="" value="">
<div class="square"></div>
<input type="checkbox" id="" name="" value="">
<br>
<a class="btn btn-primary" href="email_content" role="button">Next</a>
<a class="btn btn-primary" href="create_mail" role="button" style="float:left;margin-right: 1%;">Go Back</a>
@code {

}
