@page "/email_content"
<h3>Overview</h3>
<br>
<p>
    <lable>Title of E-mail:</lable>
    <lable>New Services</lable>
</p>

<p>
    <lable>lable:</lable>
    <lable>Directeur</lable>
</p>

<p>
    <lable>Sending Date:</lable>
    <lable>16-11-2020</lable>
</p>

<p>
    <lable>Template:</lable>
</p>
<style>
    .square {
        height: 50px;
        width: 50px;
        background-color: #555;
    }
</style>
<div class="square"></div>
<br>
<lable>If the information is correct, click on confirm.</lable>
<br>
<a class="btn btn-primary" href="#" role="button">Confirm</a>
<a class="btn btn-primary" href="email_design" role="button" style="float:left;margin-right: 1%;">Go Back</a>
@code {

}

