@page "/"

@inject LoginState loginState;
@inject IUserData _db



    <div>
        <a class="btn-link" href="create_mail">Create Mail</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Received</th>
                <th scope="col">Subject</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i < Names.Count + 1; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@Names[i - 1]</td>
                    <td>subject</td>
                    <td>1-1-2020 10:10</td>
                </tr>
            }
        </tbody>
    </table>


@code {

    
    List<string> Names = new List<string> { "Jonas de Boer", "Enny Adeoye", "Dennis Futselaar", "Ali Aliawi", "Ilias El Bouchtaoui" };

}

