@page "/Login"

@using CRM_Model_Library
@using CRM_Blazor_Server.ViewModels

@inject IUserData _db
<h3>login</h3>
<EditForm Model="@loginuser" OnValidSubmit="@LoginUser">

    <DataAnnotationsValidator />
    <ValidationSummary />
    <lable>Email address:</lable>

    <InputText class="form-control" @bind-Value="loginuser.Email"></InputText>

    <lable>Password:</lable>

    <InputText type="password" class="form-control" @bind-Value="loginuser.Password"></InputText>
</EditForm>

<p>
    <lable>No account?</lable>
</p>
<a href="Register" class="btn btn-primary" type="Continue">Register</a>
@code {

    private List<UserModel> Users;
    protected override async Task OnInitializedAsync()
    {
        Users = await _db.GetUsers();
    }
    private DisplayUserModel loginuser = new DisplayUserModel();
    private async Task LoginUser()
    {
        if (LoginCheck()) {
            await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the customer ?");
            return;
        }

    }

    private bool LoginCheck()
    {
        foreach (var user in Users)
        {
            if (loginuser.Email == user.Email)

                if (loginuser.Password == user.Password)
                {
                    return true;
                }

            return false;
        }
        return false;
    }

    }

}
