@page "/Login"
<h3>Login</h3>


    <p>
        <lable>Email:</lable>
        <input type="text" id="" name="">

    </p>
    <p>
        <lable>Password:</lable>
        <input type="password" id="" name="">
    </p>
    <p>
        <lable>No account?</lable>
    </p>
    <a href="Register" class="btn btn-primary" type="Continue">Register</a>
    @code {


    }
