@page "/manage/contacts"
@using CRM_Model_Library
@using CRM_Blazor_Server.ViewModels
@inject IContactData _db

<div style="align-items:end; float:right;">
    <a class="btn btn-primary" href="manage/contacts/create" role="button">Create</a>
</div>
<h3>Contacts</h3>

<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link active" href="manage/contacts">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="manage/clients">Clients</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="manage/labels">labels</a>
    </li>
</ul>
<input class="form-control" placeholder="search" @oninput="(e => OnPublisherSearchTextChanged(e))" />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email address</th>
            <th scope="col">Go To</th>
        </tr>
    </thead>
    @if (FilterContacts == null)
    {
        <tr>loading...</tr>
    }
    else
    {
        var i = 1;
        <tbody>
            @foreach (var model in FilterContacts)
            {

                <tr>
                    <th scope="row">@i</th>
                    <td>@model.FirstName</td>
                    <td>@model.LastName</td>
                    <td>@model.EmailAddress</td>
                    <td><a class="btn btn-primary" href="manage/contacts/viewcontact/@model.ContactId.ToString()" role="button">Go To</a></td>
                </tr>

                i++;
            }


        </tbody>
    }
</table>
@code {
    public List<ContactModel> Contacts;
    public List<ContactModel> FilterContacts;
    protected override async Task OnInitializedAsync()
    {
        Contacts = await _db.GetContacts();
        FilterContacts = Contacts;
    }


    private void OnPublisherSearchTextChanged(ChangeEventArgs changeEventArgs)
    {

        string searchText = changeEventArgs.Value.ToString();

        FilterContacts = Contacts.Where(c => c.SearchTerm().Contains(searchText)).ToList();
    }

}
