@page "/manage/lables"
<div style="align-items:end; float:right;">
    <a class="btn btn-primary" href="manage/lables/create" role="button">Create</a>
</div>
<h3>lables</h3>
<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link" href="manage/contacts">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="manage/clients">Clients</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link active" href="manage/lables">lables</a>
    </li>
</ul>
<div class="model-group">
    @foreach (var lable in lables)
    {
        <div class="model-item">
            <div class="lable-model-title">
                <h3 class="model-title">@lable.Name</h3>
            </div>
        </div>
    }
</div>
@code {
    List<LableModel> lables = new List<LableModel> { new LableModel { lableId = 1, Name = "Programmer" }, new LableModel { lableId = 2, Name = "Designer" }, new LableModel { lableId = 3, Name = "Consultant" }, new LableModel { lableId = 4, Name = "Recruiter" } };
}
