@page "/manage/clients"
@using CRM_Model_Library
@using CRM_Blazor_Server.ViewModels
@inject IClientData _db


<div style="align-items:end; float:right;">
    <a class="btn btn-primary" href="manage/clients/create" role="button">Create</a>
</div>
<h3>Clients</h3>
<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link" href="manage/contacts">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="manage/clients">Clients</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="manage/lables">lables</a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>

        </tr>
    </thead>
    @if (Clients == null)
    {
        <tr>loading...</tr>
    }
    else
    {
        <tbody>
            @{ 
                var i = 1;
            }
            @foreach (var client in Clients)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@client.Name</td>
                </tr>
                i++;
            }

        </tbody>
    }
    </table>

@code {
    private List<ClientModel> Clients;
    protected override async Task OnInitializedAsync()
    {
        Clients = await _db.GetClients();
    }



}
