@page "/manage"

<h3>Manage</h3>
<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link" href="manage/contacts">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="manage/clients">Clients</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="manage/lables">lables</a>
    </li>
</ul>
@code {

}
