@page "/manage/clients"
@using CRM_Model_Library
@using CRM_Blazor_Server.ViewModels
@inject IClientData _db


<div style="align-items:end; float:right;">
    <button type="button" class="btn btn-primary">Create</button>
</div>
<h3>Clients</h3>
<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link" href="manage/contacts">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="manage/clients">Clients</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="manage/lables">lables</a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Contacts</th>

        </tr>
    </thead>

    <tbody>

        @foreach (var client in Clients)
        {
            <tr>
                <th scope="row">@client.Name</th>
                <td>
                    <ul>
                    </ul>
                </td>
            </tr>
        }

    </tbody>

</table>

@code {
    private List<ClientModel> Clients;
    protected override async Task OnInitializedAsync()
    {
        Clients = await _db.GetClients();
    }



}
