@page "/manage/labels"
@using CRM_Model_Library
@using CRM_Blazor_Server.ViewModels
@inject ILabelData _db

<div style="align-items:end; float:right;">

    <a class="btn btn-primary" href="manage/labels/create" role="button">Create</a>

</div>
<h3>Contacts</h3>

<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link " href="manage/contacts">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="manage/clients">Clients</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" href="manage/labels">labels</a>
    </li>
</ul>
<table class="tabel">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Go To</th>
        </tr>
    </thead>
    @if (Label == null)
    {
        <tr>No labels</tr>
    }
    else
    {
        var i = 1;
        <tbody>
            @foreach (var model in Label)
            {

                <tr>
                    <th scope="row">@i</th>
                    <td>@model.Name</td>
                    <td><a class="btn btn-primary" href="manage/contacts/ViewLabel/@model.LabelId.ToString()" role="button">Go to</a></td>
                </tr>

                i++;
            }


        </tbody>
    }
</table>
@code {
    private List<LabelModel> Label;
    protected override async Task OnInitializedAsync()
    {
        Label = await _db.GetLabels();
    }



}
