@page "/Register"

@using CRM_Model_Library
@using CRM_Blazor_Server.ViewModels

@inject IUserData _db
<h3>Register</h3>
<EditForm Model="@newuser" OnValidSubmit="@InsertUser">

    <DataAnnotationsValidator />
    <ValidationSummary />
    <lable>First name:</lable>

    <InputText class="form-control" @bind-Value="newuser.FirstName"></InputText>

    <lable>Last name:</lable>

    <InputText class="form-control" @bind-Value="newuser.LastName"></InputText>


    <lable>Email address:</lable>

    <InputText class="form-control" @bind-Value="newuser.Email"></InputText>

    <lable>Password:</lable>

    <InputText type="password" class="form-control" @bind-Value="newuser.Password"></InputText>

    <button class="btn btn-success" type="submit">Create User</button>
    <a href="Login" class="btn btn-primary" type="Continue">Back</a>

</EditForm>



@code {
    private List<UserModel> Users;
    protected override async Task OnInitializedAsync()
    {
        Users = await _db.GetUsers();
    }
    private DisplayUserModel newuser = new DisplayUserModel();
    private async Task InsertUser()
    {
        if (EmailCheck())
        {
            UserModel user = new UserModel
            {
                FirstName = newuser.FirstName,
                LastName = newuser.LastName,
                Email = newuser.Email,
                Password = newuser.Password
            };

            await _db.InsertUser(user);


            newuser = new DisplayUserModel();
        }
    }

    private bool EmailCheck()
    {
        foreach (var user in Users)
        {
            if (newuser.Email == user.Email)
            {
              
                return false;
            }

        }
        return true;
    }
   
}

}
