@page "/review_and_send"
<h3>CreateMail</h3>
<div>
    <a class="btn-link" href="">Choose Design</a>
</div>
<div>
    <a class="btn-link" href="email_content">Go Back</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><button type="button" class="btn btn-manage">Review</button></th>
            <th scope="col"><button type="button" class="btn btn-manage">And</button></th>
            <th scope="col"><button type="button" class="btn btn-manage">Send</button></th>
            <th scope="col"><button type="button" class="btn btn-manage">REVIEW AND SEND</button></th>
        </tr>
    </thead>
</table>
@code {

}
