@page "/manage/contacts/viewcontact/{Id}"

@using CRM_Model_Library
@using CRM_Blazor_Server.ViewModels

@inject IContactData _db
@inject IDataAccess _DataAccess

@if(Contact != null)
{
    <h1>@Contact.FirstName @Contact.LastName</h1>
    <br />
    <h4>@Contact.EmailAddress</h4>

}
else
{
    <p>Loading...</p>
}
@if(Clients != null)
{
    <h4>Clients:</h4>
    <ul>
        @foreach (var client in Clients)
        {
            <li>@client.Name</li>
        }
    </ul>
}
<a class="btn btn-primary" href="manage/contacts" role="button">Back</a>
<a class="btn btn-primary" href="manage/contacts/viewcontact/@Id.ToString()/editcontact" role="button">Add clients</a>
@code{
    [Parameter]
    public string Id { get; set; }
    private ContactModel Contact;
    private List<ClientModel> Clients;

    protected override async Task OnInitializedAsync()
    {
        List<ContactModel> rep = await _db.GetContact(Int32.Parse(Id));
        
        Contact = rep[0];
        Clients = await _db.GetClientsOfContact(Contact.ContactId);
    }
}