@page "/ClientsTest"

@using Microsoft.Extensions.Configuration
@*
    Injecting the IDataAccess service from Startup.cs
    Injecting IConfiguration from appsetings.json
*@
@inject IDataAccess _db 
@inject IConfiguration _config

<h3>ClientsTest</h3>

<button class="btn btn-primary" @onclick="InsertData">Insert</button>
<button class="btn btn-warning" @onclick="UpdateData">Update</button>
<button class="btn btn-danger" @onclick="DeleteData">Delete</button>

@if (clients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var c in clients)
    {
        <p>
            @c.FirstName @c.LastName
        </p>
    }
}

@code {        
    List<ClientModel> clients;

    private async Task InsertData()
    {
        string sql = "INSERT INTO client(Id, FirstName, LastName, Email) VALUES(@Id, @FirstName, @LastName, @Email);";

        await _db.SaveData(sql, new { Id = "6", FirstName = "Billy", LastName = "Bob", Email = "Billybob@gmail,com" });

        await OnInitializedAsync();
    }

    private async Task UpdateData()
    {
        string sql = "UPDATE client SET FirstName = @FirstName WHERE LastName = @LastName";

        await _db.SaveData(sql, new { FirstName = "Enny", LastName = "Adeoye"});

        await OnInitializedAsync();
    }

    private async Task DeleteData()
    {
        string sql = "DELETE FROM client WHERE LastName = @LastName";

        await _db.SaveData(sql, new { LastName = "Bob" });

        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT * FROM client";

        clients = await _db.LoadData<ClientModel, dynamic>(sql, new { });
    }
}
